@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #f7f7ff;
  font-family: "Open Sans", sans-serif;
  color: #2f2f2f; }

.intro {
  color: #f7f7ff; }
  .intro__container {
    background: #1b4079;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
  .intro__divider {
    color: #3590f3;
    margin: 10px 0px 10px 0px; }
  .intro__name {
    font-size: 3em;
    font-weight: 800; }
  .intro__title {
    font-size: 2em;
    font-style: italic; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2.25em;
  width: 100%; }
  .social__link {
    color: #f7f7ff;
    text-decoration: none; }

.about {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 2;
  width: 70vw;
  margin: 50px 0px 0px 0px; }
  @media screen and (max-width: 650px) {
    .about {
      width: 90vw; } }
  .about__picker {
    margin: 50px 0px 50px 0px; }
  .about__text {
    display: flex;
    justify-content: center; }
    .about__text--justify {
      width: 80%;
      text-align: justify; }
  .about__container {
    display: flex;
    justify-content: center;
    background-color: #f7f7ff; }
  .about__skills {
    display: flex; }

.categories {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly; }
  .categories__title {
    font-weight: bold; }
  .categories__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
  .categories__category {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    color: #656576;
    text-transform: uppercase;
    cursor: pointer; }
    .categories__category--selected {
      text-decoration: underline;
      color: #2f2f2f; }

.skill {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center; }
  .skill__label {
    font-weight: bold; }
  .skill__image {
    width: 100%;
    height: auto; }

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none; }
  @media screen and (max-width: 650px) {
    .skills {
      justify-content: center; } }

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px; }
  .projects__container {
    background: #f7f7ff; }

.project {
  display: flex;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .project:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .project__imageContainer {
    width: 100%; }
  .project__title {
    font-size: 1.25em;
    font-weight: bold; }
  .project__title-links {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .project__langs {
    font-weight: 300; }
  .project__link {
    padding: 5px;
    color: #2f2f2f;
    text-decoration: none; }
    .project__link:hover {
      color: #656576; }
  .project__image {
    width: 100%;
    height: auto; }

.contact {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1b4079;
  color: #f7f7ff;
  min-height: 200px; }
  .contact__icons {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    max-width: 15%;
    min-width: 200px; }
  .contact__icon {
    font-size: 2em;
    text-decoration: none;
    color: #f7f7ff; }
  .contact__header {
    text-align: center;
    color: #f7f7ff;
    font-size: 2em; }
